<main>

    {{#each users}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{username}} </h5>
            <p class="card-text">{{description}} </p>
            <a href="/users/{{this._id}} " class="btn btn-primary">See Profile</a>
        </div>
    </div>
    {{/each}}
</main>